@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala&display=swap');

html{
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-size: 100%;
    background: linear-gradient(68.15deg, #00FFA3 16.62%, #39404B 85.61%);
}

main{
    min-width: 320px;
    max-width: 1200px;
}

.cabecalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 24px;
    min-width: 320px;
    max-width: 1200px;
}

.logo {
    height: 72px;
}

.menu-top{
    display: flex;
    gap: 32px;
}

.menu-top-item{
    font-family: 'Sarala', sans-serif;
    color: #FFF2E7;
    font-weight: 400;
    font-size: 18px;
}

.menu-top-item:hover{
    color: rgba(236, 214, 196, 0.56);
}

.main-content{
    border-top: 0.4px solid #FFF2E7;
    margin-bottom: 48px;
}

.content-one{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.content-one-items{
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.content-one-items-title{
    font-family: 'Righteous', cursive;
    font-weight: 400;
    font-size: 64px;
    color: #FFF2E7;
}

.content-one-items-subtitle{
    font-family: 'Righteous', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #ECD6C4;
}

.content-one-items-button{
    text-decoration: none;
    background-color: #ECD6C4;
    width: 180px;
    height: 60px;
    border: none;
    box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #2F2325;
}

.content-one-items-button:hover {
    background-color: rgba(236, 214, 196, 0.56);
}

.content-one-image{
    height: 400px;
    margin-top: 20px;
}

.content-two{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin-top: 48px;

}

.content-three{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin-top: 48px;

}

.content-two-title{
    border-top: 0.4px solid #FFF2E7;
    padding-top: 48px;
    text-align: center;
    font-family: 'Righteous', cursive;
    font-weight: 400;
    font-size: 24px;
    color: #FFF2E7;
    margin-bottom: 16px;
}

.content-three-title{
    border-top: 0.4px solid #FFF2E7;
    padding-top: 48px;
    font-family: 'Righteous', cursive;
    font-weight: 400;
    font-size: 24px;
    color: #FFF2E7;
    margin-bottom: 16px;
}

.content-three-paragraph{
    font-family: 'Sarala', sans-serif;
    font-weight: 300;
    font-size: 18px;
    color: #FFF2E7;
    margin-bottom: 35px;
}

.rodape{
    padding: 32px;
    border-top: 0.4px solid #FFF2E7;
}

.rodape-image{
    height: 120px;
    display: block;
    margin: 0 auto;
}

.content-four-1{
    border-top: 0.4px solid #FFF2E7;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin-top: 48px;
}

.content-four-image-1{
    display: flex;
    flex-direction: row;
    gap: 50px;
    margin-bottom: 48px;
}

.content-four-image{
    display: flex;
    flex-direction: row;
    height: 250px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.content-items-four-1{
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.content-four-title{
    padding-top: 48px;
    font-family: 'Righteous', cursive;
    text-align: center;
    font-weight: 400;
    font-size: 24px;
    color: #FFF2E7;
    margin-left: 40px;
    margin-bottom: 16px;
}

.content-four-paragraph{
    font-family: 'Sarala', sans-serif;
    text-align: center;
    font-weight: 300;
    font-size: 18px;
    margin-left: 40px;
    color: #FFF2E7;
}

.content-four-2{
    border-top: 0.4px solid #FFF2E7;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.content-items-four-2{
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.content-four-3 {
    border-top: 0.4px solid #FFF2E7;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.content-items-four-3{
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.content-four-4 {
    border-top: 0.4px solid #FFF2E7;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}